* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

body {
  background-color: #000000;
}

header {
  font-weight: bold;
}
header .navbar {
  background-color: #000000;
}
header .navbar .navbar-brand {
  font-family: Space Grotesk;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  color: #ebcdc1;
  margin-right: 2vw;
}
header .navbar .nav-link {
  color: #7c2f0e;
  margin-right: 1vw;
}
header .navbar .nav-link.active {
  color: #ff8080;
  background-color: #7c2f0e;
  border-radius: 16px;
  padding: 8px;
}
header .navbar .navbar-text {
  color: #ebcdc1;
  margin-right: 2vw;
}

.hero-section {
  margin-bottom: 20vh;
}
.hero-section #background-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(60%);
}
.hero-section .title-card {
  margin-left: 4vw;
  margin-top: 5vh;
  padding-top: 6vh;
}
.hero-section .title-card h1 {
  font-family: Space Grotesk;
  color: #ebcdc1;
  font-size: 6rem;
  font-weight: bold;
  text-align: right;
  margin-top: 1vh;
  margin-right: 6vw;
}
.hero-section .title-card h1 span:hover {
  -webkit-text-stroke: 4px #ff8080;
  color: transparent;
}
.hero-section p {
  margin-top: 2vh;
  margin-right: 6vw;
  color: #ff8080;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: right;
}

.card-animation {
  margin-top: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-animation .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.card-animation .container:hover .glass {
  transform: rotate(0deg);
  margin: 0 20px;
}
.card-animation .container .glass {
  width: 16vw;
  height: 30vh;
  border: 1px solid #ebcdc1;
  background: linear-gradient(#ff8080, transparent);
  box-shadow: 0 25px 15px #000000;
  border-radius: 10px;
  margin: 0 -45px;
  transform: rotate(calc(var(--r) * 1deg));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.card-animation .container .glass::before {
  position: absolute;
  content: attr(data-text);
  bottom: 0;
  width: 100%;
  height: 20%;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #32150b;
  color: #ebcdc1;
  font-weight: 600;
}
.card-animation .container .glass i {
  font-size: 5rem;
  color: #ebcdc1;
}

.icon-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-column i {
  color: #32150b;
  font-size: 4rem;
  padding: 2vw;
}
.icon-column i:hover {
  color: #ff8080;
  cursor: pointer;
  font-size: 5rem;
  transition: 50ms;
}

.aesthetic-section {
  margin-top: 1vh;
  background-color: #000000;
  width: 100vw;
}
.aesthetic-section img {
  width: 700px;
}
.aesthetic-section h3 {
  margin-top: 5vh;
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 4rem;
  color: #ff8080;
}
.aesthetic-section p {
  background-color: #32150b;
  padding: 4vh;
  margin-top: 2vh;
  border-radius: 20px;
  border: 2px solid #32150b;
  color: #ebcdc1;
}
.aesthetic-section p .location-btn {
  margin-top: 2vh;
  padding: 1vh;
  background-color: #7c2f0e;
  color: #ebcdc1;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 2px 2px #000000;
  transition: transform 50ms, box-shadow 50ms;
}
.aesthetic-section p .location-btn:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #000000;
}

.gallery {
  padding: 0 4vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.gallery .text-area {
  margin-top: 2vh;
  grid-column-start: 1;
  grid-column: span 2;
  grid-row-start: 1;
  grid-row-end: 4;
  color: #ff8080;
  border-radius: 10px;
  padding: 6%;
}
.gallery .text-area h3 {
  font-family: Space Grotesk;
  font-weight: 400;
  font-size: 4rem;
}
.gallery .text-area p {
  background-color: #32150b;
  padding: 4vh;
  margin-top: 2vh;
  border-radius: 20px;
  border: 2px solid #32150b;
  color: #ebcdc1;
}
.gallery .text-area p button {
  margin-top: 2vh;
  padding: 1vh;
  background-color: #7c2f0e;
  color: #ebcdc1;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 2px 2px #000000;
  transition: transform 50ms, box-shadow 50ms;
}
.gallery .text-area p button:hover {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px #000000;
}
.gallery .pictures-section {
  grid-column-start: 3;
  grid-column: span 3;
  grid-row-start: 1;
  grid-row-end: 4;
  border: 2px solid #ebcdc1;
}
.gallery .pictures-section .carousel-item {
  height: auto;
}
.gallery .pictures-section .carousel-item img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #000000;
  color: #ff8080;
}
footer h1 {
  writing-mode: vertical-rl;
  font-size: 4rem;
  font-family: Space Grotesk;
  font-style: italic;
  transform: rotate(180deg);
}
footer h4 {
  font-weight: 800;
  font-style: italic;
}
footer .container-fluid {
  width: 75vw;
}/*# sourceMappingURL=main.css.map */