* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Ubuntu;
}

body {
  background-color: #000000;
}

header {
  font-weight: bold;
}
header .navbar {
  background-color: #000000;
}
header .navbar .navbar-brand {
  font-family: Space Grotesk;
  font-style: italic;
  font-weight: 500;
  font-size: 2.5rem;
  color: #ebcdc1;
}
header .navbar .nav-link {
  color: #7c2f0e;
}
header .navbar .navbar-text {
  color: #7c2f0e;
  margin-right: 2vw;
}

.hero-section {
  margin-bottom: 50vh;
}
.hero-section #background-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: brightness(60%);
}
.hero-section .title-card {
  margin-left: 4vw;
  margin-top: 5vh;
  padding-top: 6vh;
}
.hero-section .title-card h1 {
  font-family: Space Grotesk;
  color: #ebcdc1;
  font-size: 6rem;
  font-weight: bold;
  text-align: right;
  margin-top: 1vh;
  margin-right: 6vw;
}
.hero-section .title-card h1 span:hover {
  -webkit-text-stroke: 4px #ff8080;
  color: transparent;
}
.hero-section p {
  margin-top: 2vh;
  margin-right: 6vw;
  color: #ff8080;
  font-weight: bold;
  font-size: 1.4rem;
  text-align: right;
}

.icon-column {
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon-column i {
  color: #7c2f0e;
  font-size: 4rem;
  padding: 2vw;
}
.icon-column i:hover {
  color: #ff8080;
  cursor: pointer;
  font-size: 5rem;
  transition: 3ms;
}

.aesthetic-section {
  margin-top: 1vh;
  background-color: #000000;
  width: 100vw;
}
.aesthetic-section .circle-shape {
  margin-top: 5vh;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #ff8080;
}
.aesthetic-section img {
  width: 700px;
}
.aesthetic-section h3 {
  margin-top: 5vh;
  font-weight: bold;
  color: #ebcdc1;
  font-size: 4rem;
}
.aesthetic-section p {
  background-color: #32150b;
  padding: 4vh;
  margin-top: 2vh;
  border-radius: 20px;
  border: 2px solid #32150b;
  color: #ebcdc1;
}
.aesthetic-section p .location-btn {
  margin-top: 2vh;
  padding: 1vh;
  background-color: #7c2f0e;
  color: #ebcdc1;
  border-radius: 10px;
  border: 2px solid #000000;
  box-shadow: 2px 2px #000000;
}

.gallery {
  padding: 0 4vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
.gallery .text-area {
  margin-top: 2vh;
  grid-column-start: 1;
  grid-column: span 2;
  background-color: #32150b;
  color: #ff8080;
  border-radius: 10px;
  padding: 6%;
}
.gallery .text-area h3 {
  font-family: Space Grotesk;
  font-size: 4rem;
}
.gallery .pictures-section {
  grid-column-start: 3;
  grid-column: span 3;
}
.gallery .pictures-section .marco {
  width: 100%;
  height: auto;
  margin: 2vh;
  border: 3px solid #ebcdc1;
}
.gallery .pictures-section .marco img {
  width: 100%;
}

footer {
  background-color: #000000;
  color: #ff8080;
}
footer h1 {
  writing-mode: vertical-rl;
  font-size: 4rem;
  font-family: Space Grotesk;
  font-style: italic;
  transform: rotate(180deg);
}
footer h4 {
  font-weight: 800;
  font-style: italic;
}
footer .container-fluid {
  width: 75vw;
}/*# sourceMappingURL=main.css.map */