$text: #ebcdc1;
$background: #000000;
$primary: #7c2f0e;
$secondary: #32150b;
$accent: #ff8080;

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Ubuntu;
}

header {
    font-weight: bold;

    .navbar {
        background-color: $background;
       
        .navbar-brand {
            font-style: italic;
            font-size: 1.5rem;
            color: $text;
        }

        .nav-link {
            color: $primary;
        }

        .navbar-text {
            color: $primary;
            margin-right: 2vw;
        }
    }
}

.hero-section {

    #background-video {
        width: 100vw;
        height: auto;
        object-fit: cover;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
        filter: brightness(60%);
    }

    .title-card {
        margin-left: 4vw;
        margin-top: 5vh;
        padding-top: 6vh;

        h1 {
            color: $text;
            font-size: 6rem;
            font-weight: bold;
            text-align: right;
            margin-top: 2vh;
            margin-right: 6vw; 

            span:hover {
                -webkit-text-stroke: 4px $accent;
                color: transparent;
            }
        }

    }
    p {
        margin-top: 2vh;
        margin-right: 6vw;
        color: $accent;
        font-weight: bold;
        font-size: 1.8rem;
        text-align: right;
    }
}

.aesthetic-section {
    margin-top: 50vh;
    background-color: $background;
    width: 100vw;

    .circle-shape {
        margin-top: 5vh;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        background-color: $accent;

    }
    img {
        width: 600px;
    }

    h3 {
        margin-top: 5vh;
        font-weight: bold;
        color: $text;
        font-size: 4rem;
    }

    p {
        background-color: $secondary;
        padding: 4vh;
        margin-top: 2vh;
        border-radius: 20px;
        border: 2px solid $secondary;
        color: $text;

        .location-btn {
            margin-top: 2vh;
            padding: 1vh;
            background-color: $primary;
            color: $text;
            border-radius: 10px;
            border: 2px solid $background;
            box-shadow: 2px 2px $background;
        }
    }

}


