.formulario-inscripcion {
    margin-top: 5vh;
    border-radius: 10px;
    background-color: $secondary;
    color: $text;

    h1 {
        font-family: Space Grotesk;
        color: $text;
        font-size: 3rem;
        text-align: center;
        padding: 3vh;
    }

    .input-group {
        margin-top: 4vh;
        padding: 2vh;
    }

    .checkbox {
        padding: 3vh;
        color: $text;
    }

    input[type="submit"] {
        margin-top: 2vh;
        background-color: $primary;
        color: $background;
        padding: 10px 20px;
        border: none; 
        cursor: pointer;
        border-radius: 5px; 

        &:hover {
            opacity: 0.8;
        }
    }

    input[type="reset"] {
        margin-top: 2vh;
        background-color: $primary;
        color: $background;
        padding: 10px 20px; 
        border: none; 
        cursor: pointer; 
        border-radius: 5px; 

        &:hover {
            opacity: 0.8;
        }
    }

}