header {
    font-weight: bold;

    .navbar {
        background-color: $background;
       
        .navbar-brand {
            font-family: Space Grotesk;
            font-style: italic;
            font-weight: 500;
            font-size: 2.5rem;
            color: $text;
            margin-right: 2vw;
        }

        .nav-link {
            color: $primary;
            margin-right: 1vw;

            &.active {
                color: $accent;
                background-color: $primary;
                border-radius: 16px;
                padding: 8px;
            }
        }

        .navbar-text {
            color: $text;
            margin-right: 2vw;
        }
    }
}